
.header h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #97B066;
	font-weight: bold;
	text-align: center;
        font-size: 25px;
        padding-top: 5px;
        
	
}

	
.footer h2{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #97B066;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	padding-top: 5px;
}
.content h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #5E3F1E;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	padding-top: 15px;
	line-height: 20px;
	padding-bottom: 10px;
}
.content h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #97B066;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	padding-top: 5px;
	line-height: 20px;
	padding-bottom: 10px;
}
.content h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #97B066;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	padding-top: 5px;
	line-height: 16px;
	padding-bottom: 10px;
}
.content a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	padding-bottom: 10px;
	text-decoration: none;
}
.content a:hover{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #993300;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	
	line-height: 20px;
	padding-bottom: 10px;
}
.error{
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: red;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	padding-top: 5px;
	line-height: 20px;
	padding-bottom: 10px;
    
    
}